#where-am-i-ribbon {
  z-index: 9999999;
  width: 350px;
  background: #39d;
  position: absolute;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  opacity: 0.5;
  pointer-events: none;
  left: -50px;
  width: 200px;
  top: 25px;
  right: auto;
  position: fixed;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
